@model IEnumerable<VideoGameCatalog.Models.Game>

<h1>Video Games Catalog</h1>

<div class="card card-body ">
    <form asp-controller="Game" asp-action="AddGames" method="post">
        <label for="nameGame">Buscar</label>
        <input name="nameGame" id="nameGame" type="text" class="form-control">
        <button class="btn btn-primary" type="submit">Add Games</button>
    </form>


</div>



<div class="card-grid">
    @foreach (var g in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@g.Image" alt="@g.Name" />
            <p>@g.Name</p>
            <div class="card-body">
                <a class="btn btn-sm btn-warning" href="@Url.Action("ViewMore", "Game", new { id = g.ID })">View more</a>
            </div>
        </div>
    }

</div>

<style>
    body {
        background-color: #cad3d1;
    }
    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        
    }
    .card-body{
        background-color: #cad3d1;
    }
    .card-grid{
        background-color: #cad3d1;
    }
</style>